*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 50px;
    background-color:whitesmoke;
    margin: auto;  
    display: flex;
    
    
}
ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
}

h3{
    margin-top: 25px
}

span{
    text-align: center;
    color: black;
    font-size: 30px;
    display:block;
}

#menu{
    position:fixed;
    z-index:999;
    bottom:1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: whitesmoke
}


nav{
    position:absolute;
    width: 100%;
    height: 40vh;
    opacity: 0.8;
    background-color: black;
    display: none;
    z-index: 998;
    position:fixed;
}

#navbar {
    height:10vh;
    margin:auto;
}

.item2{
    font-size:30px;
    color: white;
    text-align: center;
    text-decoration:none;
    display: block;
    height:100%;    
}



a:hover {
    color: black;
    font-weight:bold;
    text-decoration: none;
    
}

#navbar:hover{
    background-color:whitesmoke;
    color: black;
    font-weight:bold;
}

.item{
    text-decoration: none;
    color:black;    
}

.item:hover{
    color: primary;
    font-size: 30px;
}

section{
    width: 90%;
    height: 100%;
    margin: auto;
    margin-bottom: 50px;
}

#imgseed{
    width: 70%;
    height: 50vh;
    display: block;
    margin: auto;
}

.section1{
    display: flex;
    margin-left: 5%;
    margin-right:5%;
    width: 90%;
}



.seed-safe{
    width: 50%;
    height: 100%;
    margin:auto
}

p{
    font-size: 18px;
    text-align: justify;
    
}

h1{
    text-align: center;
    font-size:24px;
    margin: 10px;
    margin-top: 25px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size:22px;
    margin: 10px;
    margin-top: 25px;
    font-weight: bold;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1 1 auto;
    width: 90%;
}

.article{  
    margin:auto;
    padding: 5px;
    box-shadow: 3px 3px gray;
}

.article:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
    transition-property: transform;
}


#imgarticle{
    width: 200px;
    height: 200px;
}

#form{
    width: 50%;
    height: 100%;    
    margin: auto;
}

#social{
    display: inline;
    margin: 20px;
}

footer{
    background-color: whitesmoke;
    margin: auto;
}


